.person {
  position: relative;
  display:grid;
  margin: 0px;
  grid-template-rows: 0.1fr 1fr;
  width: 100%;
  height: 50vh;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius:5px ;
  background-color: #827397;
}
.top{
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
  width: auto;
  height: 6vh;
  align-items: center;
}
.top p{
  display: flex;
  margin-block: auto;
  align-items: center;
  justify-content: center;
  margin-inline:5% auto;
  font-size:25px ;
}
.top button{
  margin-inline:auto 5%;
  border: 0px;
  height: inherit;
  width: auto;
  align-items: center;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: background-color ease 0.2s;
}
.top button:hover{
  
  background-color:#a898bd;
  mix-blend-mode:lighten(#a898bd,59%) 
}
.top button img{
  user-select: none;
  margin-top:2px ;
  height: 70%;
}

.time{

  margin-inline:1vw;
  margin-bottom: 3vh;
  border-radius: 6px;
  width: auto;
  height: 39vh;
  overflow-x:hidden;
  background-color: #243A73;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
}
.demo {
  align-items: center !important;
  appearance: none;
  background-color: #FCFCFD !important;
  border-radius: 4px !important;
  border-width: 0 !important;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 33px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s !important;
  user-select: none !important;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  position: absolute;
  top: 2vh;

  right: 20%;
}

.demo:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.demo:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.demo:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.demo h3{
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #243A73;
  border-radius: 10px;
  border: 2px solid #243A73;
}
::-webkit-scrollbar-thumb {
  background: #667aac;
  border-radius: 10px;
  border: 2px solid #243A73;
}
::-webkit-scrollbar-thumb:hover {
  background: #c4c4cc
}
::-webkit-scrollbar-thumb:active {
  background: #aeaeb5
}

